body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.font-cls h1 {
    font-size: 50px;
    font-weight: 900;
    color: #4b4a4a;
}

.font-cls {
    width: 31%;
}

.cover-half {
    width: 69%;
    padding-left: 5%;
}

.cover-half img {
    width: 792px;
    height: 843.96px;



}

.org-col {
    color: orange;
}

.intro-sec {
    display: flex;
    background: #E5E5E5;
}

.intro-sec p {
    font-weight: 500;
    font-size: 18px;
    color: #828282;
    margin-bottom: 50px;

}



.font-cls {
    padding-left: 5%;
    padding-top: 5%;
}

.or-buttn {
    padding: 16px 30px;
    text-decoration: none;
    background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
    color: white;
    border-radius: 100px;
}

.about-sec {
    display: flex;
}

.decs-sec {
    width: 50%;

}

.decs-sec img {
    width: cover;
    height: 600px;
    padding-left: 25%;
    padding-top: 10%;
}

.decs-sec p {
    padding-right: 51%;


}

.decs-sec h2 {
    color: #707070;
}

.pdd {
    padding-top: 11%;
}

.about-sec {
    background-image: url("images/shapes/Frame\ 57.jpg");
    background-repeat: no-repeat;
}

.recipi-intro {
    text-align: center;
    padding: 20px;


}

.recipi-intro h3 {
    color: #676767;
    font-size: 23px;
}

.recipi-intro p {
    color: #252525;

}

.recipi-sec {
    background: #E5E5E5;


}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 700px;
    box-shadow: 10px 10px 30px gray;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;

}







.image-style {
    width: 100%;
}

.title {
    color: #18191F;
    font-size: 20px;
    font-weight: 800;
}

.desc {
    color: #676767;
}


.count-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 78%;
    box-shadow: 10px 10px 30px gray;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin-top: 8%;

}

.count-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}

.counter p {
    font-size: 14px;
    color: #b4b0b0;
}